.v-btn {
  text-transform: none;
  width: 340px;

  .v-btn__content {
    font-weight: bold;
  }

  &.primary {
    background: $primaryButtonBackgroundColor;
    border: $primaryButtonBorderSize solid $primaryButtonBorderColor;
    color: $primaryButtonColor;

    &:hover {
      background: $primaryButtonHoverBackgroundColor;
    }
  }

  &.secondary {
    background: $secondaryButtonBackgroundColor;
    border: $secondaryButtonBorderSize solid $secondaryButtonBorderColor;
    color: $secondaryButtonColor;

    &:hover {
      border: $secondaryButtonHoverBorderSize solid $secondaryButtonBorderColor;
    }
  }

  /* small screen */
  @media only screen and (max-width: 600px) {
    font-size: $smallButtonFontSize;
  }

  /* medium screen */
  @media only screen and (min-width: 601px) and (max-width: 1280px) {
    font-size: $mediumButtonFontSize;
  }

  /* big screen */
  @media only screen and (min-width: 1281px) {
    font-size: $bigButtonFontSize;
  }
}
