.v-btn {
  width: $buttonWidth;
  .v-btn__content {
    font-weight: bold;
  }

  &.v-btn--variant-text {
    .v-btn__content {
      font-weight: normal;
    }

    &:focus,
    &:hover {
      .v-btn__content {
        text-decoration: underline;
      }
      .v-btn__overlay {
        opacity: 0;
      }
    }
  }

  &.primary {
    background: $primaryButtonBackgroundColor;
    border: $primaryButtonBorderSize solid $primaryButtonBorderColor;
    color: $primaryButtonColor;
    transition: $primaryButtonTransition;
    transform-origin: $primaryButtontransformOrigin;

    &:focus,
    &:hover {
      background: $primaryButtonHoverBackgroundColor;
    }

    &:active {
      color: $primaryButtonColor;
    }

    /* small screen */
    @media only screen and (max-width: 600px) {
      font-size: $smallButtonFontSize;

      &:focus,
      &:hover {
        transform: $smallButtonTransformScale;
      }
    }

    /* medium screen */
    @media only screen and (min-width: 601px) and (max-width: 1280px) {
      font-size: $mediumButtonFontSize;
    }

    /* big screen */
    @media only screen and (min-width: 1281px) {
      font-size: $bigButtonFontSize;
    }
  }

  &.secondary {
    background: $secondaryButtonBackgroundColor;
    border: $secondaryButtonBorderSize solid $secondaryButtonBorderColor;
    color: $secondaryButtonColor;

    &:focus,
    &:hover {
      border: $secondaryButtonHoverBorderSize solid $secondaryButtonBorderColor;
    }

    /* small screen */
    @media only screen and (max-width: 600px) {
      font-size: $smallButtonFontSize;

      &:focus,
      &:hover {
        transform: $smallButtonTransformScale;
      }
    }

    /* medium screen */
    @media only screen and (min-width: 601px) and (max-width: 1280px) {
      font-size: $mediumButtonFontSize;
    }

    /* big screen */
    @media only screen and (min-width: 1281px) {
      font-size: $bigButtonFontSize;
    }
  }

  &.small {
    width: 220px;
  }
}
