.v-btn {
  width: 340px;

  .v-btn__content {
    font-weight: bold;
  }

  &.v-btn--variant-text {
    .v-btn__content {
      font-weight: normal;
    }

    &:focus,
    &:hover {
      .v-btn__content {
        text-decoration: underline;
      }
      .v-btn__overlay {
        opacity: 0;
      }
    }
  }

  &.primary {
    background: $primaryButtonBackgroundColor;
    border: $primaryButtonBorderSize solid $primaryButtonBorderColor;
    color: $primaryButtonColor;
    transition: $primaryButtonTransition;
    transform-origin: $primaryButtontransformOrigin;

    &:focus,
    &:hover {
      background: $primaryButtonHoverBackgroundColor;
    }

    &:active {
      color: $primaryButtonColor;
    }
  }

  &.secondary {
    background: $secondaryButtonBackgroundColor;
    border: $secondaryButtonBorderSize solid $secondaryButtonBorderColor;
    color: $secondaryButtonColor;

    &:focus,
    &:hover {
      border: $secondaryButtonHoverBorderSize solid $secondaryButtonBorderColor;
    }
  }

  &.small {
    width: 220px;
  }

  /* small screen */
  @media only screen and (max-width: 600px) {
    font-size: $smallButtonFontSize;

    &:hover,
    &:focus {
      animation: clickAnimation 1s ease forwards;
    }
  }

  @keyframes clickAnimation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: $smallButtonTransformScale;
    }
    100% {
      transform: scale(1);
    }
  }

  /* medium screen */
  @media only screen and (min-width: 601px) and (max-width: 1280px) {
    font-size: $mediumButtonFontSize;
  }

  /* big screen */
  @media only screen and (min-width: 1281px) {
    font-size: $bigButtonFontSize;
  }
}
