@import '../variables.scss';

.v-btn.button {
  border-radius: 5px;
  font-size: 20px;
  height: 50px;
  text-transform: none;
  width: 340px;

  &.small {
    font-size: 16px;
    width: 250px;
  }

  .v-btn__content {
    font-weight: bold;
  }
}

.primary.button {
  background: $primaryButtonColor;
  border: 2px solid $primaryButtonColor;
  color: #fff;
}

.secondary.button {
  background: #fff;
  border: 2px solid $primaryButtonColor;
  color: $primaryButtonColor;
}
