@use '../variables';

.v-btn {
  width: 340px;

  .v-btn__content {
    font-weight: bold;
  }

  &.v-btn--variant-text {
    .v-btn__content {
      font-weight: normal;
    }

    &:focus,
    &:hover {
      .v-btn__content {
        text-decoration: underline;
      }
      .v-btn__overlay {
        opacity: 0;
      }
    }
  }

  &.primary {
    background: variables.$primaryButtonBackgroundColor;
    border: variables.$primaryButtonBorderSize solid variables.$primaryButtonBorderColor;
    color: variables.$primaryButtonColor;
    transition: variables.$primaryButtonTransition;
    transform-origin: variables.$primaryButtontransformOrigin;

    &:focus,
    &:hover {
      background: variables.$primaryButtonHoverBackgroundColor;
    }

    &:active {
      color: variables.$primaryButtonColor;
    }
  }

  &.secondary {
    background: variables.$secondaryButtonBackgroundColor;
    border: variables.$secondaryButtonBorderSize solid variables.$secondaryButtonBorderColor;
    color: variables.$secondaryButtonColor;

    &:focus,
    &:hover {
      border: variables.$secondaryButtonHoverBorderSize solid variables.$secondaryButtonBorderColor;
    }
  }

  &.small {
    width: 220px;
  }

  /* small screen */
  @media only screen and (max-width: 600px) {
    font-size: variables.$smallButtonFontSize;
  }

  /* medium screen */
  @media only screen and (min-width: 601px) and (max-width: 1280px) {
    font-size: variables.$mediumButtonFontSize;
  }

  /* big screen */
  @media only screen and (min-width: 1281px) {
    font-size: variables.$bigButtonFontSize;
  }
}
