.filter-dropdown, .search-field {
  .v-input__control {
    max-height: 35px;
  }

  .v-field__field {
    line-height: 15px;
    max-height: 35px;
    overflow: hidden;
  }

  .v-field__input {
    font-size: 15px;
    max-height: 35px;
    min-height: 35px;
  }

  &.selected {
    background-color: $filterDropdownSelectionColor;
  }
}

.reset-filter {
  font-size: 14px;
}

.search.button {
  font-size: 15px;
  line-height: 15px;
}