.filter-dropdown {
  .v-field__field {
    line-height: 15px;
    overflow: hidden;

    .v-field__input {
      .v-list-item {
        padding: 4px 6px;
      } 
    }
  }

  &.selected {
    background-color: $filterDropdownSelectionColor;

    .v-chip {
      background-color: white;
    }
  }

  &.disabled {
    .v-field__input {
      font-style: italic;
    }
  }
}

.filter-dropdown, .search-field {
  .v-field__input {
    font-size: 15px;
  }
}

.reset-filter {
  font-size: 14px;
}

.search.button {
  font-size: 15px;
  line-height: 15px;
}

.filter-header {
  font-size: 18px;
  font-weight: bold;
}