@use '../variables';

.filter-dropdown {
  .v-field__field {
    line-height: 20px;
    overflow: hidden;

    .v-field__input {
      .v-list-item {
        padding: 4px 6px;
      }
    }
  }

  &.selected {
    .v-input__control {
      background-color: variables.$filterDropdownSelectionColor;
    }

    .v-chip {
      background-color: white;
    }
  }
}

.filter-dropdown,
.search-field {
  .v-field__input {
    font-size: 15px;
  }
}

.reset-filter {
  font-size: 14px;
}

.search.button {
  font-size: 15px;
  line-height: 15px;
}

.filter-header {
  font-size: 18px;
  font-weight: bold;
}
