.filter-dropdown, .search-field {
  .v-field__field {
    line-height: 15px;
    overflow: hidden;
  }

  .v-field__input {
    font-size: 15px;
  }

  &.selected {
    background-color: $filterDropdownSelectionColor;

    .v-list-item {
      padding: 4px 6px;
    }
  }
}

.reset-filter {
  font-size: 14px;
}

.search.button {
  font-size: 15px;
  line-height: 15px;
}

.filter-header {
  font-size: 18px;
  font-weight: bold;
}