@use '../variables';

label[disabled='true'] {
  color: variables.$disabledLabelColor;
}

label[error='true'] {
  color: variables.$labelErrorColor;
}

label[required='true']:after {
  content: ' *';
  display: inline-block;
  margin-left: 3px;
  margin-right: -8px;
}

.v-field__clearable > i.v-icon {
  opacity: 1;
}

.v-field.v-field--disabled {
  opacity: 0.7;
  .v-chip--variant-tonal .v-chip__underlay {
    opacity: 0.25;
  }
}
