label[disabled='true'] {
  color: $disabledLabelColor;
}

label[error='true'] {
  color: $labelErrorColor;
}

label[required='true']:after {
  content: ' *';
  display: inline-block;
  margin-left: 3px;
  margin-right: -8px;
}

.v-field__clearable > i.v-icon {
  opacity: 1;
}

.v-field--disabled .v-chip--variant-tonal .v-chip__underlay {
  opacity: 0.25;
}