label[disabled='true'] {
  color: $disabledLabelColor;
}

label[error='true'] {
  color: $labelErrorColor;
}

label[required='true']:after {
  content: ' *';
}

.v-field__clearable > i.v-icon {
  opacity: 1;
}