@use '../variables';

a {
  text-decoration: none;

  &.primary,
  &.primary:active {
    color: variables.$primaryColor;
  }

  &.secondary,
  &.secondary:active {
    color: variables.$white;
  }

  &:focus,
  &:hover {
    text-decoration: underline;
  }
}

.v-btn a,
a.v-btn {
  &:focus,
  &:hover {
    text-decoration: none;
  }
}
