a {
  text-decoration: none;

  &.primary, &.primary:active {
    color: $primaryColor;
  }

  &.secondary, &.secondary:active {
    color: $white;
  }

  &:hover {
    text-decoration: underline;
  }
}