@use '../variables';

.result-table {
  margin-top: 10px;

  .v-table__wrapper {
    border-radius: 0;
  }

  .v-data-table__thead {
    background-color: variables.$lightGrey;
    font-size: 15px;
    padding-bottom: 10px;
    padding-top: 15px;

    .v-data-table-header__content span {
      font-weight: bold;
    }

    .v-data-table__th {
      border-bottom: none;
    }
  }

  .v-data-table__tbody {
    .v-data-table__tr {
      padding-bottom: 15px;
      padding-top: 13px;
    }
    .v-data-table__td {
      border-bottom: 1px solid variables.$lightGrey;
    }
  }

  .v-data-table-footer {
    font-size: 12px;

    .v-btn {
      font-size: 14px;

      &.v-btn--variant-plain:not(.v-btn--disabled) {
        opacity: 0.75;
      }
    }

    .v-field {
      font-size: 12px;

      .v-field__input {
        max-height: 28px;
        min-height: 28px;
        padding-top: 6px;
        padding-bottom: 6px;
      }
    }
  }
}
