.service-provider-card {
  height:60px; 
  width: 365px;
  display: flex;
  justify-content: center;
  align-items: center; 
  text-align: center; 

  &.v-card--variant-elevated {
    box-shadow: 0px 3px 6px 2px #001e4940;
  }
  &.v-card .v-card-title {
    text-wrap: pretty;
    transition: all 0.3s;
  }
  
  &:focus,
  &:hover {
    border: $serviceProviderHoverBorderSize solid $primaryColor;
    text-decoration: none;
    .v-card-title {
      font-size: 22px;
    }
  }
}

@media only screen and (max-width: 960px) {  
  .service-provider-card {
      width:auto;
  }
}