@use './settings';
@use 'vuetify';

@import './variables.scss';
@import './typography.scss';
@import './components/button.scss';
@import './components/dialog.scss';
@import './components/filter-search.scss';
@import './components/form.scss';
@import './components/input.scss';
@import './components/link.scss';
@import './components/layout-card.scss';
@import './components/menu-bar.scss';
@import './components/result-table.scss';
@import './components/service-provider-card.scss';

body {
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

#app {
  background: $backgroundColor;
  color: $bodyFontColor;
  font-family: Arial, sans-serif;
  font-weight: normal;
}

.v-toolbar-title__placeholder {
  height: 100%;
}

.v-field--variant-outlined .v-field__outline {
  --v-field-border-opacity: 1;
}

p {
  white-space: pre;
  /* text-wrap needs to be placed after white-space to overwrite wrapping behaviour */
  text-wrap: pretty;
}

label.v-label {
  opacity: 1;
}

.primary-text-color {
  color: $primaryColor;
}

.no-kopers-checkbox label.v-label {
  text-wrap: nowrap;
}

.ellipsis-wrapper {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 241px;
}

.button-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
  right: 55px;
  margin-top: -15px;
}

.checkbox-div {
  margin-bottom: -10px;
}

@media only screen and (max-width: 1039px) {
  .button-container {
    position: static;
    margin-top: -15px;
    margin-bottom: 10px;
    align-items: start;
  }
}

@media only screen and (min-width: 960px) and (max-width: 1280px) {
  .button-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    right: 68px;
    margin-top: -15px;
    margin-right: -65px;
  }
}
@media only screen and (min-width: 1281px) and (max-width: 1600px) {
  .button-container {
    position: static;
    margin-top: -15px;
    margin-bottom: 10px;
    align-items: start;
  }
}

@media (min-width: 960px) {
  .v-container {
    max-width: none;
  }
}
