@use './settings';
@use 'vuetify';

@use 'variables.scss';
@use 'typography.scss';
@use 'components/button.scss';
@use 'components/dialog.scss';
@use 'components/filter-search.scss';
@use 'components/form.scss';
@use 'components/input.scss';
@use 'components/link.scss';
@use 'components/layout-card.scss';
@use 'components/menu-bar.scss';
@use 'components/result-table.scss';
@use 'components/service-provider-card.scss';
@use 'components/alert.scss';
@use 'components/text-area.scss';

body {
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

#app {
  background: variables.$backgroundColor;
  color: variables.$bodyFontColor;
  font-family: Arial, sans-serif;
  font-weight: normal;
}

.v-toolbar-title__placeholder {
  height: 100%;
}

.v-field--variant-outlined .v-field__outline {
  --v-field-border-opacity: 1;
}

p {
  white-space: normal;
  /* text-wrap needs to be placed after white-space to overwrite wrapping behaviour */
  text-wrap: pretty;
}

label.v-label {
  opacity: 1;
}

.primary-text-color {
  color: variables.$primaryColor;
}

.no-kopers-checkbox label.v-label {
  text-wrap: nowrap;
}

.wrap-text {
  white-space: normal;
  word-break: break-word;
}

.hyphenate {
  hyphens: auto;
}

.ellipsis-wrapper {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 241px;
}

.ellipsis-wrapper-schulspezifisch {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 750px;
}

.button-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
  right: 55px;
  margin-top: -50px;
}

// This targets the checkbox flex container to align the checkbox and label vertically from their baseline
// This is necessary because the default alignment is center, which does not align the checkbox and label
.checkbox-top-align .v-selection-control {
  align-items: baseline !important;
}

// This is used to align the checkbox label with the checkbox itself because aligning the checkbox and label from their baseline does not align the label perfectly from the top
.checkbox-top-align .v-label {
  transform: translateY(-4px) !important;
}

.primary-border {
  border: 2px solid variables.$primaryColor;
  border-radius: 4px;
  padding: 16px;
}

@media only screen and (max-width: 960px) {
  .button-container {
    align-items: start;
    position: static;
    margin-top: -5px;
  }
}

@media only screen and (min-width: 961px) and (max-width: 1280px) {
  .button-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    right: 68px;
    margin-top: -50px;
    margin-right: -65px;
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1600px) {
  .button-container {
    position: static;
    margin-top: -15px;
    margin-bottom: 10px;
    align-items: start;
  }
}

@media (min-width: 960px) {
  .v-container {
    max-width: none;
  }
}
