@use './settings';
@use 'vuetify';

@import './variables.scss';
@import './components/button.scss';
@import './components/link.scss';
@import './components/user-table.scss';

body {
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

#app {
  background: $backgroundColor;
  color: $bodyFontColor;
  font-family: Arial, sans-serif;
  font-weight: normal;
}

.layout-card {
  .layout-card-headline {
    font-size: 24px;
    font-weight: bold;
  }

  .padded {
    padding: 22px 100px 22px 50px;
  }
}

.headline-1 {
  font-size: 30px;
  font-weight: bold;
}

.headline-2 {
  font-size: 24px;
  font-weight: bold;
}

.layout-card {
  box-shadow: 0px 3px 6px #001e4980;
  border-radius: 5px;
}

.pointer {
  cursor: pointer;
}

.subtitle-1 {
  font-size: 20px;
  font-weight: bold;
}

.subtitle-2 {
  font-size: 16px;
  font-weight: bold;
}

.text-body {
  font-size: 16px;
  font-weight: normal;

  &.bold,
  &.bold * {
    font-weight: bold;
  }
}

.v-field--variant-outlined .v-field__outline {
  --v-field-border-opacity: 1;
}

p {
  white-space: pre;
  /* text-wrap needs to be placed after white-space to overwrite wrapping behaviour */
  text-wrap: pretty;
}

/* small */
@media only screen and (max-width: 600px) {
  body {
    font-size: 16px;
  }
}

/* medium */
@media only screen and (min-width: 601px) and (max-width: 1280px) {
  body {
    font-size: 18px;
  }
}

/* big */
@media only screen and (min-width: 1281px) {
  body {
    font-size: 20px;
  }
}