@use 'vuetify/settings' with (
  /* override global vuetify variables */
    // TODO: how to use variables from variables.scss in vuetify settings?
  $application-color: #001e49,
  $button-height: 50px,
  $button-text-letter-spacing: normal,
  $button-text-transform: none,
  $card-color: #001e49,
  $field-input-padding-bottom: 10px,
  $field-input-padding-top: 10px,
  $input-control-height: 42px,
  $selection-control-color: #001e49
);
