@use 'vuetify/settings' with (
  /* override global vuetify variables */ // TODO: how to use variables from variables.scss in vuetify settings?
  $application-color: #001e49,
  $button-height: 50px,
  $button-text-letter-spacing: normal,
  $button-text-transform: none,
  $card-color: #001e49,
  $field-input-padding-bottom: 10px,
  $field-input-padding-top: 10px,
  $input-control-height: 42px,
  $list-color: #001e49,
  $selection-control-color: #001e49,
  $table-color: #001e49,
  $container-max-widths: ('md': 900px, 'lg': 1200px, 'xl': 1800px, 'xxl': 2400px),
  $grid-breakpoints: ('md': 960px, 'lg': 1280px, 'xl': 1920px, 'xxl': 2560px)
);
