@use 'vuetify/settings' with (
  /* override global vuetify variables */
    // TODO: how to use variables from variables.scss in vuetify settings?
  $application-color: #001e49,
  $button-height: 50px,
  $card-color: #001e49
);
