@use "variables";

.headline-1,
.headline-2,
.headline-3,
.subtitle-1,
.subtitle-2 {
  font-weight: bold;

  .v-list-item-title {
    font-weight: bold;
  }
}

.text-body {
  font-size: 16px;
  font-weight: normal;

  &.bold,
  &.bold * {
    font-weight: bold;
  }
}

p,
b,
div {
  &.white-space-pre-wrap {
    white-space: pre-wrap !important;
  }
}

// TODO: Replace the media queries with the respective comments
//        to use the globally defined breakpoints
//        Unfortunately vuetify variables currently don't work inside .scss Files

/* small screen */
@media only screen and (max-width: 600px) {
  // @media #{map-get($display-breakpoints, 'xs')} {
  body {
    font-size: variables.$smallBodyFontSize;
  }

  .body-2 {
    font-size: variables.$smallBody2FontSize;

    .v-list-item-title {
      font-size: variables.$smallBody2FontSize;
    }
  }

  .caption {
    font-size: variables.$smallCaptionFontSize;

    .v-list-item-title {
      font-size: variables.$smallCaptionFontSize;
    }
  }

  .headline-1 {
    font-size: variables.$smallHeadline1FontSize;

    .v-list-item-title {
      font-size: variables.$smallHeadline1FontSize;
    }
  }

  .headline-2 {
    font-size: variables.$smallHeadline2FontSize;

    .v-list-item-title {
      font-size: variables.$smallHeadline2FontSize;
    }
  }

  .headline-3 {
    font-size: variables.$smallHeadline3FontSize;

    .v-list-item-title {
      font-size: variables.$smallHeadline3FontSize;
    }
  }

  .subtitle-1 {
    font-size: variables.$smallSubtitle1FontSize;

    .v-list-item-title {
      font-size: variables.$smallSubtitle1FontSize;
    }
  }

  .subtitle-2 {
    font-size: variables.$smallSubtitle2FontSize;

    .v-list-item-title {
      font-size: variables.$smallSubtitle2FontSize;
    }
  }
}

/* medium screen */
@media only screen and (min-width: 601px) and (max-width: 1280px) {
  // @media #{map-get($display-breakpoints, 'sm-and-up')} {
  body {
    font-size: variables.$mediumBodyFontSize;
  }

  .body-2 {
    font-size: variables.$mediumBody2FontSize;

    .v-list-item-title {
      font-size: variables.$mediumBody2FontSize;
    }
  }

  .caption {
    font-size: variables.$mediumCaptionFontSize;

    .v-list-item-title {
      font-size: variables.$mediumCaptionFontSize;
    }
  }

  .headline-1 {
    font-size: variables.$mediumHeadline1FontSize;

    .v-list-item-title {
      font-size: variables.$mediumHeadline1FontSize;
    }
  }

  .headline-2 {
    font-size: variables.$mediumHeadline2FontSize;

    .v-list-item-title {
      font-size: variables.$mediumHeadline2FontSize;
    }
  }

  .headline-3 {
    font-size: variables.$mediumHeadline3FontSize;

    .v-list-item-title {
      font-size: variables.$mediumHeadline3FontSize;
    }
  }

  .subtitle-1 {
    font-size: variables.$mediumSubtitle1FontSize;

    .v-list-item-title {
      font-size: variables.$mediumSubtitle1FontSize;
    }
  }

  .subtitle-2 {
    font-size: variables.$mediumSubtitle2FontSize;

    .v-list-item-title {
      font-size: variables.$mediumSubtitle2FontSize;
    }
  }
}

/* big screen */
@media only screen and (min-width: 1281px) {
  // @media #{map-get($display-breakpoints, 'lg-and-up')} {

  body {
    font-size: variables.$bigBodyFontSize;
  }

  .body-2 {
    font-size: variables.$bigBody2FontSize;

    .v-list-item-title {
      font-size: variables.$bigBody2FontSize;
    }
  }

  .caption {
    font-size: variables.$bigCaptionFontSize;

    .v-list-item-title {
      font-size: variables.$bigCaptionFontSize;
    }
  }

  .headline-1 {
    font-size: variables.$bigHeadline1FontSize;

    .v-list-item-title {
      font-size: variables.$bigHeadline1FontSize;
    }
  }

  .headline-2 {
    font-size: variables.$bigHeadline2FontSize;

    .v-list-item-title {
      font-size: variables.$bigHeadline2FontSize;
    }
  }

  .headline-3 {
    font-size: variables.$bigHeadline3FontSize;

    .v-list-item-title {
      font-size: variables.$bigHeadline3FontSize;
    }
  }

  .subtitle-1 {
    font-size: variables.$bigSubtitle1FontSize;

    .v-list-item-title {
      font-size: variables.$bigSubtitle1FontSize;
    }
  }

  .subtitle-2 {
    font-size: variables.$bigSubtitle2FontSize;

    .v-list-item-title {
      font-size: variables.$bigSubtitle2FontSize;
    }
  }
}
