.headline-1,
.headline-2,
.headline-3,
.subtitle-1,
.subtitle-2 {
  font-weight: bold;

  .v-list-item-title {
    font-weight: bold;
  }
}

.text-body {
  font-size: 16px;
  font-weight: normal;

  &.bold,
  &.bold * {
    font-weight: bold;
  }
}

.text-body--error {
  font-size: 16px;
  color: red;
}

// TODO: Replace the media queries with the respective comments
//        to use the globally defined breakpoints
//        Unfortunately vuetify variables currently don't work inside .scss Files

/* small screen */
@media only screen and (max-width: 600px) {
  // @media #{map-get($display-breakpoints, 'xs')} {
  body {
    font-size: $smallBodyFontSize;
  }

  .body-2 {
    font-size: $smallBody2FontSize;

    .v-list-item-title {
      font-size: $smallBody2FontSize;
    }
  }

  .caption {
    font-size: $smallCaptionFontSize;

    .v-list-item-title {
      font-size: $smallCaptionFontSize;
    }
  }

  .headline-1 {
    font-size: $smallHeadline1FontSize;

    .v-list-item-title {
      font-size: $smallHeadline1FontSize;
    }
  }

  .headline-2 {
    font-size: $smallHeadline2FontSize;

    .v-list-item-title {
      font-size: $smallHeadline2FontSize;
    }
  }

  .headline-3 {
    font-size: $smallHeadline3FontSize;

    .v-list-item-title {
      font-size: $smallHeadline3FontSize;
    }
  }

  .subtitle-1 {
    font-size: $smallSubtitle1FontSize;

    .v-list-item-title {
      font-size: $smallSubtitle1FontSize;
    }
  }

  .subtitle-2 {
    font-size: $smallSubtitle2FontSize;

    .v-list-item-title {
      font-size: $smallSubtitle2FontSize;
    }
  }
}

/* medium screen */
@media only screen and (min-width: 601px) and (max-width: 1280px) {
  // @media #{map-get($display-breakpoints, 'sm-and-up')} {
  body {
    font-size: $mediumBodyFontSize;
  }

  .body-2 {
    font-size: $mediumBody2FontSize;

    .v-list-item-title {
      font-size: $mediumBody2FontSize;
    }
  }

  .caption {
    font-size: $mediumCaptionFontSize;

    .v-list-item-title {
      font-size: $mediumCaptionFontSize;
    }
  }

  .headline-1 {
    font-size: $mediumHeadline1FontSize;

    .v-list-item-title {
      font-size: $mediumHeadline1FontSize;
    }
  }

  .headline-2 {
    font-size: $mediumHeadline2FontSize;

    .v-list-item-title {
      font-size: $mediumHeadline2FontSize;
    }
  }

  .headline-3 {
    font-size: $mediumHeadline3FontSize;

    .v-list-item-title {
      font-size: $mediumHeadline3FontSize;
    }
  }

  .subtitle-1 {
    font-size: $mediumSubtitle1FontSize;

    .v-list-item-title {
      font-size: $mediumSubtitle1FontSize;
    }
  }

  .subtitle-2 {
    font-size: $mediumSubtitle2FontSize;

    .v-list-item-title {
      font-size: $mediumSubtitle2FontSize;
    }
  }
}

/* big screen */
@media only screen and (min-width: 1281px) {
  // @media #{map-get($display-breakpoints, 'lg-and-up')} {

  body {
    font-size: $bigBodyFontSize;
  }

  .body-2 {
    font-size: $bigBody2FontSize;

    .v-list-item-title {
      font-size: $bigBody2FontSize;
    }
  }

  .caption {
    font-size: $bigCaptionFontSize;

    .v-list-item-title {
      font-size: $bigCaptionFontSize;
    }
  }

  .headline-1 {
    font-size: $bigHeadline1FontSize;

    .v-list-item-title {
      font-size: $bigHeadline1FontSize;
    }
  }

  .headline-2 {
    font-size: $bigHeadline2FontSize;

    .v-list-item-title {
      font-size: $bigHeadline2FontSize;
    }
  }

  .headline-3 {
    font-size: $bigHeadline3FontSize;

    .v-list-item-title {
      font-size: $bigHeadline3FontSize;
    }
  }

  .subtitle-1 {
    font-size: $bigSubtitle1FontSize;

    .v-list-item-title {
      font-size: $bigSubtitle1FontSize;
    }
  }

  .subtitle-2 {
    font-size: $bigSubtitle2FontSize;

    .v-list-item-title {
      font-size: $bigSubtitle2FontSize;
    }
  }
}
