@import './base.css';

#app {
  font-weight: normal;
}

.v-field--variant-outlined .v-field__outline {
  --v-field-border-opacity: 1;
}

a {
  text-decoration: none;
}

p {
  white-space: pre;
  /* text-wrap needs to be placed after white-space to overwrite wrapping behaviour */
  text-wrap: pretty;
}
