.user-table {
  margin-top: 10px;

  .v-table__wrapper {
    border-radius: 0;
  }

  .v-data-table__thead {
    background-color: #E5EAEF;
    font-size: 15px;
    padding-bottom: 10px;
    padding-top: 15px;

    .v-data-table-header__content span {
      font-weight: bold;
    }

    .v-data-table__th {
      border-bottom: none;
    }
  }

  .v-data-table__tbody {
    .v-data-table__tr {
      padding-bottom: 15px;
      padding-top: 13px;
    }
    .v-data-table__td {
      border-bottom: 1px solid #E5EAEF;
    }
  }

  .v-data-table-footer {
    font-size: 12px;

    .v-field {
      font-size: 12px;

      .v-field__input {
        min-height: 12px;
      }
    }
  }
}